:root
{
    --zero: #f0f6fa;

    /* The shades of the first color */
    --first: #1565c0;
    --first-light: #5e92f3;
    --first-dark: #003c8f;

    /* The shades of the second color */
    --second: #00c853;
    --second-light: #5efc82;
    --second-dark: #009624;

    /* The shades of the error color */
    --error: #d32f2f;
    --error-light: #ff6659;
}

@font-face
{
    font-family: 'Almarai';
    src: url(fonts/Almarai/Almarai-Regular.ttf); 
}

*
{
    text-align: right;
    font-family: 'Almarai';
}

a
{
    text-decoration: none !important;
}

.container
{
    position: relative;
}

.text-first 
{ 
    color: var(--first) 
}

.text-first-dark 
{ 
    color: var(--first-dark); 
}

.text-second
{ 
    color: var(--second) 
}

.text-second-light 
{ 
    color: var(--second-light); 
}

.text-second-dark 
{ 
    color: var(--second-dark); 
}

.bg-zero 
{ 
    background: var(--zero) 
}

.bg-grd-first 
{ 
    background: linear-gradient(#1c86ff, var(--first)) 
}

.bg-grd-second 
{ 
    background: linear-gradient(#00eb61, var(--second)) 
}

.bg-grd-error
{
    background: linear-gradient(var(--error-light), var(--error))
}

.search-panel,
.list-view,
.content-holder,
.list-view-item,
:not(.nav-item-body) > .nav-item,
.notification,
.nav-pagination
{
    overflow: hidden;
    border-radius: 4px;
}

:not(.nav-item-body) > .nav-item
{
    cursor: pointer;
    margin-bottom: 5px;
}

.nav-item-body
{
    border: 1px solid silver;
    border-radius: 0 0 4px 4px;
    border-top-width: 0;
}

.nav-item-body > .nav-item
{
    display: block;
    padding: 5px 25px;
    font-weight: bold;
    color: var(--second);
    transition: background 0.5s, color 0.5s;
}

.nav-item-body > .nav-item:hover
{
    color: var(--second-dark);
    background: var(--second-light);
}

.nav-item-header
{
    color: white;
    padding: 5px 15px;
    font-size: large;
}

.nav-item-header img
{
    width: 24px;
}

.nav-item-header span
{
    float: left;
    transform: scale(1.5);
    transform-origin: left center;
}

.button
{
    border-width: 0;
    color: white;
}

.search-panel
{
    display: flex;
    flex-direction: row;
}

.search-panel > .button
{
    flex-grow: 1;
}

.search-panel > input
{
    flex-grow: 5;
    border: 1px solid var(--first);
    border-left-width: 0;
    border-radius: 0 4px 4px 0;
}

.content-holder
{
    background: white;
    border: 1px solid silver;
}

.list-view .list-view-item
{
    background: var(--zero);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.5s, box-shadow 0.5s;
}

.list-view .list-view-item:hover
{
    transform: scale(1.05);
}

.list-view .list-view-item img
{
    width: 100%;
    height: auto;
}

.card-tags
{
    overflow: auto;
}

.card-tags span
{
    width: 50%;
    float: left;
    font-size: small;
    font-weight: bold;
}

.document
{
    height: 500px;
}

.inverse-first,
.inverse-second
{
    transition: background 0.5s, color 0.5s;
}

.inverse-first:hover
{
    color: var(--first) !important;
    background: white;
}

.inverse-second:hover
{
    color: var(--second) !important;
    background: white;
}

.notification, 
.loader
{
    position: absolute;
    display: none;
}

.loader
{
    top: 0;
    left: 0;
    height: 1.5%;
    width: 100%;
    background: linear-gradient(to right, var(--second-dark), var(--second-light));
}

.notification
{
    z-index: 101;
    top: 50%;
    left: 37.5%;
    box-shadow: 0 3px 10px black;
    width: 25%;
    transform: translateY(-50%);
}

.notification > *
{
    padding: 10px 15px;
}

.notification-header
{
    color: white;
    font-weight: bold;
    font-size: large;
}

.notification-body
{
    background: white;
    border-bottom: 1px solid silver;
}

.notification-footer
{
    padding: 5px !important;
    text-align: left;
}

.overlay
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.75;
}

.hover-shadow
{
    transition: box-shadow 0.5s;
}

.hover-shadow:hover { box-shadow: 0 0 5px var(--dark); }

.half-scaled {
    transform-origin: center left;
    transform: scale(0.6);
}   

.centralized {
    position: absolute;      
    top: 50%;
    left: 30%;  
    width: 40%; 
    transform: translateY(-50%);
}

.input-tall
{
    height: 50px !important;
}

.nav-pagination
{
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border: 1px solid silver;
}

.nav-pagination-item
{
    text-align: center !important;
    flex-grow: 1;
    padding: 5px 0;
    border-right: 1px solid silver;
    cursor: pointer;
}

.nav-pagination-item:last-child
{
    border-width: 0;
}

/* Custom Checkbox */

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input[type="checkbox"]:checked + .slider {
    background-color: var(--second);
}

input[type="checkbox"]:focus + .slider {
    box-shadow: 0 0 1px var(--second);
}

input[type="checkbox"]:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 8px;
}

.slider.round:before {
    border-radius: 40%;
}

/* @media rules for a responsive layout  */
@media (max-width: 768px) 
{
    .brand
    {
        margin-top: 32px;
    }
    .brand *
    {
        text-align: center !important;
    }
}